{% extends 'base.html' %}
{% block title %}登录{% endblock %}
{% block contend %}



{% if form.errors %}
<p style="color: red;">{{ form.email.errors }}{{ form.password.errors }}</p>
{% endif %}

<form method='post' action='.'>{% csrf_token %}
<p><label for="id_email">电子邮件:</label>{{ form.email }}</p>
<p><label for="id_email">密码:</label>{{ form.password }}</p>

<div>
{#<!--{{next_url}}用于指定用户登录成功后浏览器自动转向的地址---->#}
<input type="hidden" name="next" value="{{ next }}" />|<a href='/accounts/resetpassword/'>忘记密码了</a>
<button type="submit">  登录  </button>
</div>
</form>
</div>


</div>
{% endblock %}
